# *.pdf
.Rproj.user
*.Rhistory
*.Rproj
.Rproj.user*
benchmarking.Rproj
# output/*
# data/*
Benchmarking.Rproj
.Rhistory
# *.pdf

/ifs/home/kellys04/projects/Bioinformatics/DiffBind_scripts_reports/DiffBind_Volcano_Plot_report/input*
/ifs/home/kellys04/projects/Bioinformatics/DiffBind_scripts_reports/DiffBind_Volcano_Plot_report/DiffBind_Volcano_Plots_files
/ifs/home/kellys04/projects/Bioinformatics/DiffBind_scripts_reports/DiffBind_Volcano_Plot_report/DiffBind_Volcano_Plots_files*
DiffBind_scripts_reports/DiffBind_Volcano_Plot_report/DiffBind_Volcano_Plots_files/*
DiffBind_scripts_reports/DiffBind_Volcano_Plot_report/input/*
.DS_Store
*.html
DiffBind_scripts_reports/DiffBind_GeneExpression_Beanplot_report/input/
.RData
*.gz
DiffBind_scripts_reports/DiffBind_GeneExpression_Beanplot_report/code/clean_data.R
toolbox.pyc
*.pyc
