report {
    enabled = true
    file = "nextflow.html"
}

trace {
    enabled = true
    fields = "task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes"
    file = "trace.txt"
    raw = true
}

timeline {
    enabled = true
    file = "timeline.html"
}

singularity {
    enabled = true
    autoMounts = true
    runOptions = '-B /juno:/juno'
}

executor {
    $lsf {
        queueSize = 1000
        perJobMemLimit = true
    }
    $local {
        cpus = 36
    }
}

process {
    module = "singularity/3.3.0"

    withName: GBCMS_one_sample {
        // docker://mskcc/helix_filters_01:getbasecountsmultisample-1.2.2
        container = 'getbasecountsmultisample.1.2.2.sif'
    }
    withName: GBCMS_multi_sample {
        executor = "lsf"
        clusterOptions='-sla CMOPI'
        memory = 10.GB
        time = 48.h
        errorStrategy = 'ignore'
        // docker://mskcc/helix_filters_01:getbasecountsmultisample-1.2.2
        container = 'getbasecountsmultisample.1.2.2.sif'
    }


}
