manifest {
    author = 'Stephen Kelly'
    homePage = ''
    description = ''
    mainScript = 'main.nf'
}

report {
    enabled = true
    file = "nextflow-report.html"
}

trace {
    enabled = true
    fields = "task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes"
    file = "trace.txt"
    raw = true
}

timeline {
    enabled = true
    file = "timeline-report.html"
}

// path to the current directory
def currentDir = new File(System.getProperty("user.dir")).getCanonicalPath()
// default conda installation in local directory
String condaDir = "${currentDir}/conda"
def condaActivate = "${condaDir}/bin/activate"

profiles {
    phoenix {
        process.executor = "sge"
        process {
            withLabel: R {
                module = 'r/3.4.2'
            }
            withLabel: "plot" {
                // assuming 'conda' not globally available on system, use the one installed in current dir
                beforeScript = "unset PYTHONHOME; unset PYTHONPATH; export PATH=${condaDir}:\$PATH"
            }
        }
    }
}
