singularity.enabled = true
singularity.autoMounts = true
singularity.envWhitelist = "MODULES_USE_COMPAT_VERSION"
params.containerDir = "/gpfs/data/molecpathlab/containers/NGS580-nf"
// executor.queueSize = 5

params.SLURM_vars='SLURM_JOB_ID SLURM_JOB_NAME SLURM_JOB_NODELIST SLURM_JOB_PARTITION SLURM_MEM_PER_CPU SLURM_MEM_PER_NODE SLURM_PRIO_PROCESS SLURM_SUBMIT_DIR SLURM_SUBMIT_HOST SLURM_TASK_PID SLURMD_NODENAME'

params.ANNOVAR_BUILD_VERSION ="hg19"
params.ANNOVAR_PROTOCOL = "refGene,cosmic70"
params.ANNOVAR_OPERATION ="g,f"
env {
    ANNOVAR_PROTOCOL = params.ANNOVAR_PROTOCOL
    ANNOVAR_OPERATION = params.ANNOVAR_OPERATION
    ANNOVAR_BUILD_VERSION = params.ANNOVAR_BUILD_VERSION
}

process {
    // config for Big Purple with SLURM
    module = "singularity/2.5.2"
    executor = 'slurm'
    time = '1h'
    cpus = 1
    memory = { 8.GB * task.cpus }
    clusterOptions = '--ntasks-per-node=1 --export=NONE --export=MODULES_USE_COMPAT_VERSION'

    beforeScript = """
             . /etc/profile.d/modules.sh;
            sleep 1;
            printf "USER:\${USER:-none} HOSTNAME:\${HOSTNAME:-none} PWD:\$PWD NTHREADS:\${NTHREADS:-none}\n";
            for item in ${params.SLURM_vars}; do printf "\${item}: \${!item:-none}\t"; done;
            echo "";
            TIMESTART=\$(date +%s);
            env > .env.begin;
            set -x;
            """
    // errorStrategy = "finish"

    withName: vcf_to_tsv {
                container = "${params.containerDir}/variant-calling-0.0.2.simg"
    }
    withName: split_AD_cols {
                container = "${params.containerDir}/variant-calling-0.0.2.simg"
    }
    withName: annotate {
        container = "${params.containerDir}/annovar-150617.simg"
    }
    withName: merge_tables {
        container = "${params.containerDir}/variant-calling-0.0.2.simg"
    }

}
